.swiper {
  width: 100%;
  height: 100%;
}

.bullet {
  width: 32px;
  height: 8px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  border-radius: 10px;
  margin: 0 18px !important;
}

.bullet:global(.swiper-pagination-bullet-active) {
  background: rgba(110, 122, 184, 1);
}
